# Игнорируем папку tables и все её содержимое
/tables/
/tables/*
tables/
tables/*

# Игнорируем все .bin файлы
*.bin

# Игнорируем все .env файлы
.env
.env.local
.env.*.local

# Игнорируем бинарные файлы
*.exe
*.exe~
*.dll
*.so
*.dylib

# Игнорируем временные файлы
*.test
*.out
*.prof

# Игнорируем IDE файлы
.idea/
.vscode/
*.swp
*.swo